* {
    margin: 0%;
    padding: 0%;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(238, 229, 215);
}

.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    cursor: pointer;
}

.menu-icon {
    width: 50px;
    cursor: pointer;
}

nav {
    flex: 1;
    padding: 5%;
}

.center {
    position: fixed;
    top: 8%;
    left: 40%;
}

.right {
    position: fixed;
    top: 8%;
    left: 78%;
}

.button1 {
    position: fixed;
    top: 7%;
    left: 82%;
}

.button1, .button2 {
    background-color: rgb(131, 148, 247);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button1:hover {
    background-color: rgb(57, 64, 104);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
    background-color: rgb(57, 64, 104);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(82, 82, 82);
    font-weight: bold;
    font-size: 20px;
}

nav ul li a:hover {
    color: rgb(131, 148, 247);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 170px 0;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2 {
    font-size: 54px;
}

.col-1 p {
    width: 70%;
    font-size: 20px;
    color: rgb(82, 82, 82);
    font-weight: 70;
    margin: 20px 0 10px;
}
#email {
    background-color: white;
    border: white;
    padding: 10px 20px;
}

.img1 {
    position: absolute;
    left: 55%;
    bottom: 25%;
    z-index: 1;
}

.img2 {
    position: absolute;
    left: 55%;
    bottom: 25%;
    z-index: 2;
    transform: rotate(-30deg);
}

.social-links {
    float: left;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.social-links:hover {
    color: rgb(131, 148, 247);
}

.help1 {
    float: right;
}

.img-help {
    position: absolute;
    right: 400px;
}